@import "./variables.less";

// General
@body-bg: #000000;


// panels
@navbar-transparent-color: #000;
@panel-bg:                 #151515;
@panel-border-radius:      0;
@panel-body-padding:       30px;
@panel-danger-border:      @brand-danger;


// button colors
@btn-default-color:  #fff;
@btn-default-bg:     #444;
@btn-default-border: transparent;
@btn-primary-color:  #000;


// hr
@hr-border:         #fff;


// blocks
@block-bg-inverted: #151515;


// Stage
@stage-bg:                    #000;
@stage-shelf-width:           250px;
@stage-toggle-offset:         20px;
@stage-toggle-zindex:         100;
@stage-toggle-padding:        4px 12px;
@stage-toggle-color:          #fff;
@stage-toggle-bg:             #000;
@stage-toggle-border-radius:  0;
@stage-toggle-hover-color:    #fff;
@stage-toggle-hover-bg:       #000;


@import "./components.less";

html {
  background-color: @body-bg;
}
body {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline:active
{
  color: #000000;
}

.app-nav-item {
  float: right;
}

a,
a:hover,
a:active,
a:visited{
  color:@brand-info;
}

.app-header {
  position: relative;
}

.pull-quote {
  text-align: left;
}

.block {
  padding-left: @spacer-x;
  padding-right: @spacer-x;
}

@app-choice-size: 150px;

.app-description {
  margin-left: @app-choice-size*.8;
}

.app-choice {
  background-repeat: no-repeat;
  background-position: left;
  background-size: @app-choice-size;
  height: @app-choice-size;
}

.app-add-to-pack {
  float: right;
}

hr {
  border-top-color: #E5E5E5; 
  border-top-style: 2px;
}

.app-steps {
  background-image: linear-gradient(-221deg, #0057B8 36%, #59CBE8 100%);
 /* Rectangle 4: */
}

.app-down {
  position: absolute;
  bottom:20px;
  left: 50%;
  margin-left:-20px;
}

.app-step img {
  max-width: 61px;
  height: 61px;
  margin-bottom: @spacer-y;
}

.app-shoes {
  height:inherit;
  background-image: url(./img/shoes.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.app-optional {
  font-size: @font-size-base;
}

